nav {
  position: relative;
}

.nav__container {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  display: flex;
}

.nav__items {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__logo {
  margin-right: auto;
  border: 1px solid blue;
}

.nav__links {
  border: 1px solid red;
  width: 8em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__contact {
  border: 1px solid brown;
}
