nav {
  position: relative;
}

.nav__container {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav__items {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
}

.nav__logo {
  margin-right: auto;
  border: 1px solid blue;
}

.nav__links a {
  width: 8em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--main-font-size);
  border: none;
  outline: none;
  box-shadow:
    inset 0 0 0 #6ba4a4,
    0.1;
  transition: all 0.5s ease-in-out;
}

.nav__links a:hover {
  box-shadow: inset 300px 0 0 #6ba4a4;
  color: var(--main-bg-color);
  transform: scale(1.1);
}

.nav__contact {
  width: 10em;
  height: 2.5em;
  font-size: var(--main-font-size);
  cursor: pointer;
}
