nav {
  position: relative;
}

.nav__container {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  display: flex;
  padding: 0 10px;
  margin-top: 1rem;
}

.nav__items {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
}

.nav__logo {
  margin-right: auto;
  border: 1px solid blue;
}

.nav__links {
  width: 8em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--main-font-size);
  border-radius: 5px;
}

.nav__contact {
  border: 1px solid brown;
}
